body{
    font-style: italic;
    font-size: 14pt;
    text-align: center;
    padding: 0;
    margin: 0;
}


div#puzzlearea{
    height: 401px;
    width: 400px;
    margin: auto;
}

div#puzzlearea > div {
    font-size: 40pt;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-width: 5px !important;
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;
    float: left;
    background-image: url("background.jpg");
}

.movable:hover{
    color: red;
    border-color: red !important;
}

p#winpar{
    font-weight: bold;
    font-size: 30pt;
    color: green;
}
